<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cube.dao.ArticlesMapper">
	
	<select id="selectOneById" parameterType="Integer"  resultType="Articles">
		SELECT 
		  * 
		FROM
		  articles a 
		WHERE a.id = #{id}
	</select>
	
	<select id="seletArticles" parameterType="java.util.Map"  resultType="Articles">
		SELECT 
		  * 
		FROM
		  articles a 
		WHERE a.type = #{type} order by a.inputTime
	</select>	
</mapper>