<div class="addDiv">
	<form>
		<label style="float:right;">关闭窗口，所有信息丢失！</label>
		<br/>
		<div class="form-group">
			<input type="input" class="form-control" id=""  ng-model="title" placeholder="标题" required>
		</div>
		<div class="form-group">
			<input type="input" class="form-control" id="" ng-model="summary" placeholder="概述">
		</div>
		<div class="form-group">
			<input type="input" class="form-control" id="" ng-model="label" placeholder="标签">
		</div>
		<div class="form-group">
			<form method="post">
			<textarea ui-tinymce="tinymceOptions"
					  ng-model="content" class=""></textarea>
			</form>
		</div>
		<div class="form-group">
			 <label for="">类别</label>
			<select class="form-control" ng-model="type">
	         <option value="0">首页</option>
	         <option value="1">排行</option>
	         <option value="2">随笔</option>
	      </select>
		</div>
		<div class="form-group">
			<label for="">图片</label>
			 <input type="file" ngf-select ng-model="picFile" name="file"    
             accept="image/*" ngf-max-size="2MB" required>
		</div>
		<button class="btn btn-default" type="submit" ng-click="uploadPic(picFile)">提交</button>
	</form>
</div>