<div class="addDiv">
	<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
		<label style="float:right;">关闭窗口，所有信息丢失！</label>
		<br/>
		<div class="form-group">
			<input type="input" class="form-control" id=""  ng-model="title" placeholder="标题" required>
		</div>
		<div class="form-group">
			<input type="input" class="form-control" id="" ng-model="summary" placeholder="概述" required>
		</div>
		<div class="form-group">
			<input type="input" class="form-control" id="" ng-model="label" placeholder="标签" required>
		</div>
		<div class="form-group">
			<textarea ui-tinymce="tinymceOptions"
					  ng-model="content" class="" required></textarea>
		</div>
		<div class="form-group">
			 <label for="">类别</label>
			<select class="form-control" ng-model="type" required>
	         <option value="0">首页</option>
	         <option value="1">排行</option>
	         <option value="2">随笔</option>
	      </select>
		</div>
		<div class="form-group">
			<label for="">图片</label>
			<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
					accept="image/*" ngf-max-size="3MB" class="btn btn-primary" onchange="showPreview(this)">
				上传文件</button>
			 <span class="progress" ng-show="f.progress >= 0">
	          <div style="width:{{f.progress}}%"  
	               ng-bind="f.progress + '%'"></div>
      </span>
		</div>
		<div class="form-group">
			<img alt="" src="" id="upImg">
		</div>
		<button class="btn btn-default" type="submit" >提交</button>
	</form>
</div>