<!DOCTYPE html>
<html>
	<head>
		<title>admin.html</title>

		<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
		<meta http-equiv="description" content="this is my page">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link href="/cube/bootstrap/css/bootstrap3.min.css" rel='stylesheet'
			type='text/css' />
		<link href="/cube/blog/css/admin.css" rel="stylesheet" type="text/css"
			media="all" />
		<link href="/cube/angular/ng-animation.css" rel="stylesheet"
			type="text/css" media="all" />
		<link href="/cube/angular/ngDialog-theme-default.css" rel="stylesheet"
			type="text/css" media="all" />
		<link href="/cube/angular/ngDialog-theme-flat.css" rel="stylesheet"
			type="text/css" media="all" />
		<link href="/cube/angular/ngDialog.css" rel="stylesheet"
			type="text/css" media="all" />
		<script src="/cube/angular/angular.min.1.4.6.js"></script>
		<script src="/cube/angular/angular-ui-router.js"></script>
		<script src="/cube/angular/ui-bootstrap-tpls-0.14.0.min.js"></script>
		<script src="/cube/angular/ng-file-upload-shim.min.js"></script>
		<script src="/cube/angular/ng-file-upload.min.js"></script>
		<script src="/cube/angular/angular-animate.min.js"></script>
		<script src="/cube/angular/ngDialog.min.js"></script>
		<script src="/cube/jqury/jquery-2.1.4.min.js"></script>
		<script src="/cube/blog/js/admin.js"></script>
	</head>

	<body ng-app="admin">
		<div class="row" ng-controller="menuCtrl">
		    <div ng-repeat="x in menu">
		    	<div class="col-md-1">
		    		<div class="btn-group" uib-dropdown >
				        <button id="single-button" type="button" class="btn btn-primary btn-lg naviBtn" uib-dropdown-toggle>
				            {{x.title}}<span class="caret"></span>
				        </button>
				        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
				        	<li role="menuitem" ng-repeat="z in x.child"><a ui-sref="{{z.title}}">{{z.title}}</a></li>
				        </ul>
			    	</div>
		    	</div>
		    </div>
		</div>
		<div ui-view class="">
			
		</div>
	</body>
</html>
