	<div class="container">
		<div class="content">
			<div class="single-page" ng-controller="getSingleArticle" ng-model="data">
			<div class="print-main">
				<h3>
					{{data.title}}
				</h3>
				<a href="single.html">
					{{data.summary}}
				</a>
				<p class="sub_head">
				发布时间:{{data.inputTime | cnDate}}
				</p>
				<img ng-src="{{data.imgPath}}"/>
				<p class="ptext" ng-bind-html="data.content | trustHtml">
				</p>
			</div>
		</div>
			<div class="col-md-7 single-content-left singleArticle">
				<div style="height:80%;" ng-controller="singleCommentCtrl">
					<table class="table table-striped" id="cTable">
						<tr ng-repeat="item in data">
							<td><div class="aComment">
									<p>{{item.content}}</p>
									<p class="cp1">{{item.inputTime | cnDate}}</p>
								</div>
							</td>
						</tr>
					</table>
					<div class="pagetools">
						<uib-pagination  ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" 
						class="pagination" previous-text="上一页" next-text="下一页" first-text="第一页" last-text="最后一页" items-per-page="10" boundary-links="true"></uib-pagination>
					</div>
					<textarea class="form-control" rows="" ng-model="content"></textarea>
					<button class="btn btn-primary" style="margin-top:1em;" ng-click="sumbit()">发表</button>
					<p class="help-block" id="cmsg">{{msg}}</p>
				</div>
			</div>
			<div class="col-md-5 content-right">
			<div ng-controller="articlesCtrl">
				<div class="content-right-top" >
					<h5 class="head">
						top
					</h5>
					<div ng-repeat="article in data" ng-cloak class="ng-cloak ">
						<a ui-sref="article({id:article.id})">
							<div class="editor text-center">
								<h3>
									{{article.title}}
								</h3>
								<p>
									{{article.label}}
								</p>
								<label>
									{{article.inputTime | cnDate}}
								</label>
								<span></span>
							</div> </a>
					</div>
				</div>
				<div class="">
					<uib-pager total-items="totalItems" items-per-page="4" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" ></uib-pager>
				</div>
			</div>
		</div>
			<div class="clearfix"></div>
		</div>
	</div>
