<div class="container" ng-controller="classicCtrl">
	<div class="content classic">
		<div class="item" ng-repeat="item in data">
			<div class="detail">
				<div class="divtitle">
					<span class="label label-danger dlabel">hot</span><a href="#" class="title dtitle">{{item.title}}</a>
				</div>
				<div class="summary">
				{{item.summary}}
				 </div>
				 <div class="bottomtool">
				 	<div class="btmt">时间 {{item.inputTime | cnDate}}</div>
				 	<div class="btmt">阅读 {{item.viewTimes}}</div>
				 	<div class="btmt">评论 3516</div>
				 </div>
			</div>
		</div>
	</div>
	<div class="pagetools">
		<div class="pageui">
			<uib-pagination  ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-lg" boundary-links="true"></uib-pagination>
		</div>
	</div>
</div>