<!--首页主体-->
<div class="container">
	<!-- 主体 -->
	<div class="content">
		<div class="col-md-7 content-left" ng-controller="topCtrl">
			<h5 class="head">
				hot article
			</h5>
			<div class="centerbox">
					<div ng-repeat="top in data" ng-cloak class="ng-cloak topItem">
						<div class="article" ui-sref="article({id:top.id})">
							<a class="title" href="single.html">{{top.title}}</a>
							<a href="single.html"><img src="images/a1.jpg" alt="" /> </a>
							<p>
								{{top.label}}
							</p>
							<p>
								{{top.summary}}
							</p>
						</div>
					</div>
			</div>
			<uib-pager total-items="totalItems" items-per-page="3" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" ></uib-pager>
		</div>
		<div class="col-md-5 content-right">
			<div ng-controller="articlesCtrl">
				<div class="content-right-top" >
					<h5 class="head">
						top
					</h5>
					<div ng-repeat="article in data" ng-cloak class="ng-cloak ">
						<a ui-sref="article({id:article.id})">
							<div class="editor text-center">
								<h3>
									{{article.title}}
								</h3>
								<p>
									{{article.label}}
								</p>
								<label>
									{{article.inputTime | cnDate}}
								</label>
								<span></span>
							</div> </a>
					</div>
				</div>
				<div class="">
					<uib-pager total-items="totalItems" items-per-page="4" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页" ></uib-pager>
				</div>
			</div>
			<div class="editors-pic-grids">
				<h5>
					Surperise
				</h5>
				<div class="editors-pic">
					<div class="jumbotron wordCountIndex">
					  <h2>键盘磨损预测</h2>
					<p>在线wordCount，获得输入源后，hadoop将所有出现的字母mapreduce统计后，饼图/柱状图展示</p>
					  <p><a class="btn btn-primary btn-lg" ui-sref="wordCount" role="button">点我测试</a></p>
					</div>
				</div>
				<div class="editors-pic">
					<div class="e-pic">
						<a href="single.html"><img src="images/ep2.jpg" alt="" /> </a>
					</div>
					<div class="e-pic-info">
						<a href="single.html">待定</a>
						<span></span>
						<label>
							2 Days Ago
						</label>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="editors-pic">
					<div class="e-pic">
						<a href="single.html"><img src="images/ep4.jpg" alt="" /> </a>
					</div>
					<div class="e-pic-info">
						<a href="single.html">待实施嵌入魔方</a>
						<span></span>
						<label>
							2 Days Ago
						</label>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="features">
			<h5>
				about author
			</h5>
			<h2>
				Java
			</h2>
		</div>
		<div class="col-md-7 content-left">
			<div class="article">
				<h5 class="head">
					简介
				</h5>
				<h6>
					Software
				</h6>
				<a class="title" href="single.html">DeltaMaker – The new kid on
					the block An Elegant 3D Printer and a new wicked ass thing</a>
				<a href="single.html"><img src="images/a1.jpg" alt="" /> </a>
				<p>
					Products were inspired by Behance's research of especially
					productive teams in the creative industry. Hundreds of individuals
					and teams were interviewed, and Behance chronicled the work habits
					and best practices of creative leaders.
				</p>
				<p>
					The paper products were initially designed by and for the Behance
					team as a way to stay organized. In 2007, at the insistence of
					friends who wanted Action Pads of their own...
				</p>
			</div>
		</div>
		<div class="col-md-5 content-right content-right-top" ng-controller="commentCtrl">
			<div class="commentTitle"><h5 class="head">
				留言
			</h5></div>
			<div class="commentDiv" id="" >
				<div id="danmu"></div>
			</div>
			<div class="tinymceDiv">
				<div class="commetArea">
					<textarea ui-tinymce="tinymceOptions"
						  ng-model="content" class="" required></textarea>
				</div>
				<button class="btn commmetnBtn"  ng-click="dongtan()">动弹</button>
			</div>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>