<div ng-controller="gridCtrl">
	<div class="row">
		<div class="col-md-1">
			<div class="manageBtn">
				<button type="button" class="btn btn-success manageBtn" ng-click="add()">添加</button>
			</div>
		</div>
		<div class="col-md-1">
			<div class="manageBtn">
				<button type="button" class="btn btn-success manageBtn" ng-click="modify()">修改</button>
			</div>
		</div>
		<div class="col-md-1">
			<div class="manageBtn">
				<button type="button" class="btn btn-success manageBtn" ng-click="delete()">删除</button>
			</div>
		</div>
	</div>
    <div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
    <uib-pagination  ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="maxSize" 
			class="pagination-lg" previous-text="上一页" next-text="下一页" first-text="第一页" last-text="最后一页" items-per-page="5" boundary-links="true"></uib-pagination>
</div>
