<div class="container">
	<div class="content wordCount">
		<div class="page-header">
			<h1>键盘磨损情况预测</h1>
		</div>
		<span class="label label-primary" style="font-size:1.5em;">指定输入源</span>
		<div class="inputDiv">
			<div>
				<uib-tabset justified="true" >
					<uib-tab heading="输入网址">
						<div style="width:30em;margin: 0 auto;"><div class="alert alert-danger" role="alert" style="width:25em;">请不要输入墙外网站，小主机并不能翻墙</div></div>
						<div ng-controller="urlCtrl">
							  <div class="form-group">
							  	<div class="input-group">
							    <span class="input-group-addon">http://</span>
							    <input type="text" class="form-control" placeholder="源网址"  ng-model="urlText">
							  </div>
						  </div>
						  <button type="submit" class="btn btn-primary" ng-click="submit()">确定</button>
						</div>
					</uib-tab>
					<uib-tab heading="手动输入">
						<div style="width:38em;margin:0 auto;"><div class="alert alert-danger" role="alert" style="width:37em;">手动输入限制就没那么多啦，特殊符号什么的尽管来，以后会支持emoji表情等</div></div>
						<div ng-controller="inputCtrl">
						  <div class="form-group">
						    <label for="exampleInputEmail1"></label>
						    <textarea class="form-control" rows="5" ng-model="input"></textarea>
						  </div>
						  <button type="submit" class="btn btn-primary" ng-click="submit()">确定</button>
						</div>
					</uib-tab>
					<uib-tab heading="上传文本">
						<div style="width:30em;margin:0 auto;"><div class="alert alert-danger" role="alert" style="width:29em;">请上传小于3MB文件,仅接受txt，毕竟小主机内存不是很够</div></div>
						<div ng-controller="uploadCtrl">
							<div ng-click="bar()">hhuj</div>
						  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
						          accept="txt/*" ngf-max-size="3MB" class="btn btn-primary">
						      上传文件</button>
						  <br><br>
						  文件:
						  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
						      <span class="progress" ng-show="f.progress >= 0">
						          <div style="width:{{f.progress}}%"  
						               ng-bind="f.progress + '%'"></div>
						      </span>
						  </div>  
						  <button type="button" ng-click="upload()" class="btn btn-primary">确定</button>   
						  {{errorMsg}}
						</div>
					</uib-tab> 
				</uib-tabset>
			</div>
		</div>
		<!--<div class="" ng-show="false" >
			<div class="row">
			  <div class="col-md-4 divmid"><img src="/cube/blog/images/hadoop.jpg" class=" processImg" img alt="Responsive image"></div>
			  <div class="col-md-4 divmid"><img src="/cube/blog/images/hbase.png" style="width:10em;" class=" processImg" alt="Responsive image"></div>
			  <div class="col-md-4 divmid"><img src="/cube/blog/images/hive.jpg" style="width:6em;" class=" processImg" alt="Responsive image"></div>
			</div>
			<div ng-controller="progressCtrl">
			    <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
			</div>
		</div>
		-->
		<div class="chart" ng-controller="faCtrl" ng-show="flag">
			<uib-tabset justified="true">
					<uib-tab heading="直方图">
						<div ng-controller="chartCtrl">
							<div id="columChart" style="width:70em;height:30em"></div>
						﻿	<div id="sliders" style="width:10em;margin: 0 auto;">
								<table>
									<tr><td>纵角</td><td><input id="R0" type="range" min="0" max="45" value="15"/> <span id="R0-value" class="value"></span></td></tr>
									<tr><td>横角</td><td><input id="R1" type="range" min="0" max="45" value="15"/> <span id="R1-value" class="value"></span></td></tr>
								</table>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="饼图">
						<div ng-controller="barCtrl">
							<div id="bar" style="width:70em;height:30em"></div>
						</div>
					</uib-tab>
				</uib-tabset>
		</div>
	</div>

</div>

<script type="text/ng-template" id="dialog">
    <div style="text-align:center;"><h3>请不用试图用空来冲击主机！</h3><img style="width:30px;height:30px;" src="/cube/blog.ico"/></div>
</script>
