<div class="container">
	<div class="content wordCount">
		<div class="page-header">
			<h1>键盘磨损情况预测</h1>
		</div>
		<span class="label label-primary" style="font-size:1.5em;">指定输入源(只支持英文，下期加入pinyin4j)</span>
		<div class="inputDiv">
			<div>
				<uib-tabset justified="true">
					<uib-tab heading="输入网址">
						<div class="alert alert-danger" role="alert" style="width:25em;">请不要输入墙外网站，小主机并不能翻墙</div>
						<div ng-controller="urlCtrl">
						  <div class="form-group">
						    <label for="exampleInputEmail1"></label>
						    <input type="input" class="form-control" id="urlText" placeholder="源网址"  ng-model="urlText">
						  </div>
						  <button type="submit" class="btn btn-primary" ng-click="submit()">确定</button>
						</div>
					</uib-tab>
					<uib-tab heading="手动输入">
						<div class="alert alert-danger" role="alert" style="width:37em;">手动输入限制就没那么多啦，特殊符号什么的尽管来，以后会支持emoji表情等</div>
						<div ng-controller="inputCtrl">
						  <div class="form-group">
						    <label for="exampleInputEmail1"></label>
						    <textarea class="form-control" rows="5" ng-model="input"></textarea>
						  </div>
						  <button type="submit" class="btn btn-primary" ng-click="submit()">确定</button>
						</div>
					</uib-tab>
					<uib-tab heading="上传文本">
						<div class="alert alert-danger" role="alert" style="width:29em;">请上传小于10MB文件,仅接受txt，毕竟小主机内存不是很够</div>
						<div ng-controller="uploadCtrl">
						  <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
						          accept="image/*" ngf-max-height="10000" ngf-max-size="10MB">
						      上传文件</button>
						  <br><br>
						  文件:
						  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
						      <span class="progress" ng-show="f.progress >= 0">
						          <div style="width:{{f.progress}}%"  
						               ng-bind="f.progress + '%'"></div>
						      </span>
						  </div>  
						  <button type="button" ng-click="upload()" class="btn btn-primary">确定</button>   
						  {{errorMsg}}
						</div>
					</uib-tab> 
				</uib-tabset>
			</div>
		</div>
		<div class="mytable">
		</div>
		<div class="chart">
			<button id="asd">asdsa</button>
		</div>
	</div>
</div>
